/* /* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Variables* */

:root {
    --font-family: "Lato", sans-serif;
    --thin-font-weight: 100;
    --light-font-weight: 300;
    --regular-font-weight: 400;
    --bold-font-weight: 700;
    --black-font-weight: 900;
    --text-font-size: 1rem;
    --main-color1: #ffffff;
    --main-color2: #000000;
    --main-color3: #333333;
    --color1: #f58d54;
    --color2: #f55c24;
    --color3: #54a7f5;
    --color4: #2cccc4;
    --color5: #435152;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--main-color3);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);

}

p {
    font-family: 'open-sans', sans-serif;
    font-size: var(--text-font-size);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-color1);
}

body {
    font-family: var(--font-family);
    display: flex;
    scroll-behavior: smooth;
    min-height: 100vh;
}


section {
    padding: 1rem;
    border-bottom: 2px solid var(--main-color1);
    border-top: 2px solid var(--main-color1);
}




/* Header (Home) Styling */

#home {
    background-color: var(--main-color3);
    background: url(./images/header-image.webp) no-repeat center;
    background-size: cover;
    position: relative;
    border-bottom: 2px solid var(--main-color1);
    overflow: hidden;
    height: 100vh;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

}


/* Navigation bar */
nav {
    background-color: var(--main-color3);
    padding: 1.3rem;
    position: relative;
    border-bottom: 2px solid var(--main-color1);
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo span {
    color: var(--color1);
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);
    font-size: 2rem;
}


.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 24rem;
    height: 2.3rem;

}

.navbar li a {
    text-transform: uppercase;
    font-family: 'open sans', sans-serif;
    font-size: var(--text-font-size);
    position: relative;

}

.navbar li a:active,
.navbar li a:hover {
    color: var(--color1);
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    background-color: var(--main-color1);
    width: 100%;
    height: 2px;
    top: 1.5rem;
    left: 0;
}



.navbar li a:hover::after,
.navbar li a:active::after {
    background-color: var(--color1);
}


.navigation-links i {
    display: none;
    font-size: 2rem;
    color: var(--color1);
    cursor: pointer;
}


.hero-titles {
    color: var(--main-color1);
    margin-top: 11rem;
    position: relative;
    z-index: 1;
    margin-left: 4rem;
}

.hero-titles span {
    font-size: 1.25rem;
    font-weight: var(--light-font-weight);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: var(--font-family);
}

.hero-titles h1 {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    font-size: 6rem;
    letter-spacing: 3px;
}

.hero-titles a {
    margin-top: 2.5rem;
    padding: 1.25rem 3.375rem;
    border: 2px solid var(--main-color1);
    text-transform: uppercase;
    border-radius: 50px;
    font-family: 'open sans', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 1px;
}

.hero-titles a:hover {
    background-color: var(--main-color1);
    color: var(--main-color2);
}

/* Adventure forms */
#adventures-forms h2 {
    color: var(--main-color1);
    text-align: center;
    margin: 5rem auto 3.4rem;
    font-size: clamp(2rem, 4.167vw, 5vw);
}

.forms-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

}




/* Cards*/
.card {
    background-color: var(--main-color1);
    border-radius: 32px;
    text-align: center;
    padding: 1.8rem;
    height: 100%;

}

.card img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    margin-top: 1.7rem;
    border: 9px solid var(--color1);
    object-fit: cover;
}

.card h4 {
    font-family: var(--font-family);
    font-weight: var(--regular-font-weight);
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.card p {
    margin: 1.25rem auto;
    font-size: var(--text-font-size);
    font-family: 'open sans', sans-serif;
}

.card hr {
    border: 2px solid #B3B3B3;
}


/* International adventures */
#international-adventures {
    position: relative;
}

.land {
    width: 49.5rem;
    height: 49.5rem;
    border-radius: 50%;
    margin-left: 6rem;
    position: relative;
    margin-top: 5rem;

}

#international-adventures .ring1 {
    width: 19rem;
    position: absolute;
    top: 5rem;
    right: 20.375rem;
    z-index: -1;

}

#international-adventures .ring2 {
    width: 9rem;
    position: absolute;
    left: 40%;
    transform: translateX(-90%);
    bottom: 3rem;
}

#international-adventures .ring3 {
    width: 15rem;
    position: absolute;
    left: 2rem;
    bottom: 16rem;
}

.details-box {
    position: relative;
    width: 39.625rem;
    height: 29.688rem;
    background-color: var(--main-color1);
    border-radius: 32px;
    padding: 3.75rem 3.125rem 0.313rem;
    text-align: left;
    margin-left: 47%;
    margin-top: -15rem;
    z-index: 3;
}

.details-box h2 {
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);
    font-size: 3.75rem;


}

.details-box p {
    font-family: 'open sans', sans-serif;
    font-weight: var(--regular-font-weight);
    font-size: var(--text-font-size);
    margin: 2rem 0 5rem;
}

.details-box a,
.details-box a:active {
    color: var(--color1);
    font-size: 1.125rem;
    font-weight: var(--bold-font-weight);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.25rem 3.375rem;
    border-radius: 50px;
    border: 2px solid var(--color1);


}

.details-box a:hover {
    color: var(--main-color1);
    background-color: var(--color1);
}

/* Summer Discount */

.summer-content {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem auto;
}

.summer-content div {
    padding: 1.2rem;
    flex: 1;
}

.summer-image {
    position: relative;
    justify-content: center;
    text-align: center;
}


.summer-image .summer {
    width: 21.4rem;
    height: 21.4rem;
    border-radius: 50%;
    position: relative;
}

.summer-image .ring3 {
    width: 6rem;
    position: absolute;
    left: 10rem;
    top: 18rem;
    z-index: 1;
}

.details h2 {
    color: var(--main-color1);
    font-size: clamp(2rem, 4.167vw, 5vw);
    font-weight: var(--bold-font-weight);
    font-family: var(--font-family);
    margin-bottom: 1.2rem;
}

.details span {
    color: var(--color1);
}

.details p {
    font-family: 'open sans', sans-serif;
    color: var(--main-color1);
    font-size: var(--text-font-size);
    font-weight: var(--regular-font-weight);
    margin-bottom: 3rem;
    line-height: 2;
}

.details a,
.details a:active {
    color: var(--color1);
    font-size: 1.125rem;
    font-weight: var(--bold-font-weight);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.25rem 3.375rem;
    border-radius: 50px;
    border: 2px solid var(--color1);
}

.details a:hover {
    color: var(--main-color1);
    background-color: var(--color1);
}


/* For Partners */
#for-partners h2 {
    color: var(--main-color1);
    font-size: clamp(1.5rem, 4.167vw, 5vw);
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
}

.partners-grid {
    display: grid;
    grid-template-columns: 38.75rem repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 4.188rem;
}

.partners-grid .cell:nth-of-type(1) {
    grid-row: 1 / span 2;
    text-align: center;
}

.partners-grid .cell:nth-of-type(1) img {
    width: 31rem;
    height: 31rem;
    border-radius: 50%;
    object-fit: cover;

}

.partners-grid .cell:nth-of-type(4) img {
    width: 6rem;
    margin-top: 120px;
}

.cell p {
    width: 14rem;
    font-weight: var(--light-font-weight);
    color: var(--main-color1);
    padding: 1.8rem;
    margin: auto;
    line-height: 1.3;
    text-align: left;
}

.box3 p {
    background-color: var(--color1);
    border-radius: 32px;

}

/* Contact */
#contact h2 {
    font-size: clamp(2rem, 4.167vw, 5vw);
    color: var(--main-color1);
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);
    text-align: center;
    margin-top: 5rem;
}

form {
    margin: 2rem auto;
    max-width: 42rem;
    text-align: center;
    background-color: transparent;
}

.form-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#yourname {
    margin-right: 1.1rem;
}

#yourname,
#youremail {
    padding: 1rem;
    flex: 1;
}

#youremail::placeholder {
    color: var(--color5);
}

form input,
form textarea {
    background-color: var(--main-color3);
    border-bottom: 2px solid var(--main-color1);
}

form textarea {
    width: 100%;
    margin: 1rem auto;
}

form button {
    width: 100%;
    padding: 1.5rem 0rem;
    border-radius: 50px;
    background-color: var(--color1);
    color: var(--main-color1);
    text-transform: uppercase;
    font-weight: var(--bold-font-weight);
    border: none;
}

form button:hover {
    background-color: var(--main-color1);
    color: var(--main-color2);
    cursor: pointer;
}


/* Media Queries */
@media screen and (1200px < width <=1300px) {
    #international-adventures .ring1 {
        top: 3rem;
        right: 13rem;
    }
}

/* Extra large (xl)	1200px and less	for Intended for large desktop monitors and TVs */
@media screen and (width <=1200px) {

    /* Hero */
    .hero-titles {
        margin-top: 5rem;
    }

    /* Cards */
    .card img {
        width: 15rem;
        height: 15rem;
    }

    /* International adventures */
    #international-adventures .ring1 {
        top: 1rem;
        right: 11rem;
    }

    .details-box {
        width: 37rem;
        margin-left: 36%;
        margin-top: -10rem;
    }

    .details-box h2 {
        font-size: 2.7rem;
    }

    #international-adventures .ring2 {
        left: 16rem;
    }

    #international-adventures .ring3 {
        bottom: 19rem;
    }

}


/* Screen Size between 992px and 1100px */
@media screen and (992px < width <=1100px) {
    .card img {
        width: 13rem;
        height: 13rem;

    }

    #international-adventures .ring1 {
        top: 1rem;
        right: 9rem;
    }

}

/* Large (lg)	992px and up  for laptops and small desktop screens */
@media screen and (width <=992px) {

    /* Adventure forms */
    .forms-grid {
        grid-template-columns: repeat(2, 1fr);


    }

    .card img {
        width: 13rem;
        height: 13rem;

    }

    .land {
        margin-left: 3rem;
    }

    #international-adventures .ring1 {
        top: -1rem;
        right: 6rem;
    }

    .details-box {
        width: 33rem;
        margin-left: 34%;

    }

    /* For partners */
    .partners-grid {
        grid-template-columns: calc(25rem - 12px) repeat(2, 1fr);


    }

    .partners-grid .cell:nth-of-type(1) img {
        width: 24rem;
        height: 24rem;

    }
}

/* Devices between 800px and 900px */
@media screen and (800px < width < 900px) {
    .partners-grid {
        grid-template-columns: calc(24rem - 15px) repeat(2, 1fr);

    }

    .partners-grid .cell:nth-of-type(1) img {
        width: 23rem;
        height: 23rem;
    }

    /* International adventures */
    .land {
        width: 42rem;
        height: 42rem;
        margin-top: auto;
        margin: 5rem auto;

    }

    #international-adventures .ring1 {
        width: 19rem;
        top: 1rem;
        right: 0rem;

    }

    #international-adventures .ring2 {
        width: 7.8rem;
        left: 15rem;
    }

    #international-adventures .ring3 {
        width: 14rem;
    }

    .details-box {
        width: 27rem;
        height: 30rem;
        margin-left: 40%;
        margin-top: -15rem;
    }

}

@media screen and (773px <= width < 800px) {
    .land {
        width: 40rem;
        height: 40rem;
    }

    #international-adventures .ring2 {
        left: 9rem;
    }

    .details-box {
        width: 26rem;
        margin-left: 42%;
    }
}

/* Medium (md) 768px and up  for tablets and smaller laptops  */
@media screen and (width <=768px) {

    /* NavBar */
    .logo span {
        font-size: 1.88rem;
    }

    .navigation-links i {
        display: block;
    }

    .navbar ul {
        background-color: var(--main-color3);
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        position: absolute;
        right: 0rem;
        top: 4.7rem;
        z-index: 2;
        visibility: hidden;

    }

    /* Hero */
    .hero-titles {
        margin-left: 3rem;

    }


    .hero-titles h1 {
        margin-top: 1.25rem;
        margin-bottom: 1.875rem;
        font-size: 6rem;
        letter-spacing: 3px;
    }

    .hero-titles a {
        margin-top: 2rem;
        padding: 1rem 2rem;
        border-radius: 50px;
        font-size: 0.88rem;
        letter-spacing: 0.5px;
    }


    /* Adventure forms */
    .forms-grid {
        grid-template-columns: repeat(2, 1fr);


    }

    .card img {
        width: 14rem;
        height: 14rem;

    }


    /* International adventures */
    .land {
        width: 39rem;
        height: 39rem;
        margin-top: auto;
        margin: 5rem auto;

    }

    #international-adventures .ring1 {
        width: 19rem;
        top: 1rem;
        right: 0rem;

    }

    #international-adventures .ring2 {
        width: 7.8rem;
        left: 15rem;
    }

    #international-adventures .ring3 {
        width: 14rem;
    }

    .details-box {
        width: 27rem;
        height: 30rem;
        margin-left: 40%;
        margin-top: -15rem;
    }


    .details-box h2 {
        font-size: 3rem;


    }


    .details-box a,
    .details-box a:active,
    .details a,
    .details a:active {
        color: var(--color1);
        font-size: 1.125rem;
        padding: 1.25rem 3.375rem;
        border-radius: 50px;

    }

    /* Summer discount */
    .summer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


    .summer-image .summer {
        width: 33.5rem;
        height: 33.5rem;
    }

    .summer-image .ring3 {
        width: 8rem;
        height: 8rem;
        left: 2rem;
        top: 27rem;
    }

    /* Summer discount */
    .summer-image .summer {
        width: 33.5rem;
        height: 33.5rem;
        margin-top: 2rem;
    }

    .summer-image .ring3 {
        width: 8rem;
        height: 8rem;
        left: 2rem;
        top: 27rem;
    }

    #for-partners h2 {
        margin-left: 2rem;
    }

    .partners-grid .cell:nth-of-type(1) img {
        width: 25rem;
        height: 25rem;
    }

    .partners-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .partners-grid .cell:nth-of-type(1) {
        grid-column: 1/ span 2;
    }

    .partners-grid .cell:nth-of-type(4) img {

        margin-top: 80px;
        margin-bottom: 2rem;
    }

    /* Contact */

    .form-flex {
        flex-direction: column;
        justify-content: center;
    }

    #yourname,
    #youremail,
    form textarea,
    form button {
        width: 96%;
        margin: 1rem auto;
    }

}

/* Devices between 567px and 620px */
@media screen and (576px < width <=620px) {
    .card img {
        width: 12rem;
        height: 12rem;

    }


}

/*  Small (sm) for mobile phones and small devices */
@media screen and (width<=576px) {

    /* Navbar */
    .logo span {
        font-size: 1.6rem;
    }

    .navbar ul {
        top: 4.7rem;

    }

    /* Hero */

    .hero-titles {
        margin-left: 1.2rem;

    }

    .hero-titles h1 {
        margin-top: 1.2rem;
        margin-bottom: 3rem;
        font-size: calc(4rem - 13px);
        letter-spacing: 2px;
    }

    .hero-titles a {
        padding: 1rem;

    }

    /* Adventure forms */
    .forms-grid {
        grid-template-columns: 1fr;


    }

    /* International adventures */
    .land {
        width: 20rem;
        height: 20rem;
    }

    #international-adventures .ring1 {
        width: 9rem;
    }

    #international-adventures .ring2 {
        width: 5.99rem;
        left: 40%;
        top: 50%;
        transform: translate(-20%,-99%);
        bottom: auto;
       
       
    }


    #international-adventures .ring3 {
        width: 7.5rem;
        top: 35%;
        left: 1rem;
    }

    .details-box {
        width: 19.125rem;
        height: 30rem;
        margin-left: auto;
        margin-top: auto;
    }

    .details-box h2 {
        font-size: 2.25rem;
    }


    .details-box a,
    .details-box a:active,
    .details a,
    .details a:active {
        font-size: 1.125rem;
        padding: 1rem 2rem;
        border-radius: 50px;
        margin-top: 2rem;
    }

    /* Summer discount */
    .summer-image .summer {
        width: 20rem;
        height: 20rem;
    }

    .summer-image .ring3 {
        width: 6.5rem;
        top: 15rem;

    }

    /* For Partners */


    .partners-grid {
        grid-template-columns: 1fr;

    }

    .partners-grid .cell:nth-of-type(1) img {
        width: 20rem;
        height: 20rem;
    }

    .partners-grid .cell:nth-of-type(1) {
        grid-column: auto;
    }

    .partners-grid p {
        width: 18rem;
    }

    /* Contact */
    #contact h2 {
        font-size: 2rem;
    }

    form {
        width: 21rem;
    }

}
